*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.main{
    width: 1025px;
    height: 100vh;
    background-image: url(aboutbg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}